.charsheet {
  position: relative;
  padding-top: 1px !important;
}

/* INPUTS */

.charsheet input[type=number] {
  font-size: 18px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]:not(.sheet-HP) {
  -moz-appearance: textfield;
}

/*Configure the tab buttons*/
.sheet-whitehack,
.sheet-inventory {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="whitehack"] ~ div.sheet-whitehack,
.sheet-tabstoggle[value="inventory"] ~ div.sheet-inventory {
	display: block;
}

/***** INVENTORY *****/

.sheet-inventory {
  position: relative;

  background-image: url(https://raw.githubusercontent.com/alexgalli/whitehack/main/imgs/inventory.png);
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 850px;
  width: 825px;
  border: 1px solid black;
}

.sheet-inventory textarea.sheet-slots {
    position: absolute;
    text-align: center;
    resize: none;
    width: 90px;
    height: 62px;
}

.sheet-inventory .sheet-slots.sheet-row1 { top: 140px; }
.sheet-inventory .sheet-slots.sheet-row2 { top: 302px; }
.sheet-inventory .sheet-slots.sheet-row3 { top: 462px; }

.sheet-inventory .sheet-slots.sheet-col1 { left: 24px; }
.sheet-inventory .sheet-slots.sheet-col2 { left: 149px; }
.sheet-inventory .sheet-slots.sheet-col3 { left: 271px; width: 83px; }
.sheet-inventory .sheet-slots.sheet-col4 { left: 475px; }
.sheet-inventory .sheet-slots.sheet-col5 { left: 602px; }
.sheet-inventory .sheet-slots.sheet-col6 { left: 722px; width: 83px; }

.sheet-inventory input.sheet-labels {
    position: absolute;
    text-align: center;
    width: 193px;
}

.sheet-inventory .sheet-labels.sheet-row1 { top: 238px; }
.sheet-inventory .sheet-labels.sheet-row2 { top: 397px; }
.sheet-inventory .sheet-labels.sheet-row3 { top: 556px; }

.sheet-inventory .sheet-labels.sheet-col1 { left: 160px; }
.sheet-inventory .sheet-labels.sheet-col2 { left: 610px; }

.sheet-inventory textarea.sheet-other {
    position: absolute;
    text-align: center;
    width: 332px;
    top: 654px;
    resize: none;
}

.sheet-inventory .sheet-other.sheet-col1 { left: 24px; }
.sheet-inventory .sheet-other.sheet-col2 { left: 475px; }

/***** WHITEHACK *****/
.sheet-whitehack {
  position: relative;

  background-image: url(https://raw.githubusercontent.com/alexgalli/whitehack/main/imgs/whitehack-b.png);
  background-color: white;
  background-repeat: no-repeat;
  background-size: 65%;
  height: 825px;
  width: 837px;
  border: 1px solid black;
}

/* MAIN */

.sheet-main {
  position: absolute;
  left: 15px;
  top: 50px;
}

.sheet-main textarea, .sheet-main input, .sheet-main select {
  position: absolute;
  left: 0px;
  width: 265px;
  resize: none;
}

.sheet-identity { top: 0px; height: 50px;}
.sheet-special { top: 235px; height: 516px; }
.sheet-weapon1 { top: 125px; height: 30px; }
.sheet-weapon2 { top: 167px; height: 30px; }

.sheet-main .sheet-label { width: 130px; text-align: center; font-size: 18px; }
.sheet-main .sheet-value { width: 30px; margin-top: 38px; }
.sheet-main input.sheet-value {  margin-left: 40px; width: 50px; }
.sheet-main select.sheet-value { margin-left: 40px; width: 50px; height: 30px; }

.sheet-main .sheet-row1 { top: 640px; }
.sheet-main .sheet-row2 { top: 720px; }
.sheet-main .sheet-row2 { top: 720px; }
.sheet-main .sheet-col2 { left: 144px; }


/* LEVEL */

.sheet-progression {
  position: relative;
  left: 440px;
  top: 23px;
  height: 100px;
  width: 183px;
}

.sheet-progression input, .sheet-progression select {
  position: absolute;
  left: 0;
  height: 22px;
}
.sheet-progression select { height: 22px; padding: 0; }
.sheet-class { top: 2px; width: 95px; }
.sheet-level { top: 26px; width: 40px; }
.sheet-languages { top: 51px; width: 188px; }
input.sheet-experience { top: 26px; width: 235px; left: 50px; font-size: 15px; }

/* STATS */

.sheet-stats {
  position: relative;
  left: 355px;
  top: 180px;
  width: 0;
}

.sheet-stats input[type=number] {
  position: absolute;
  left: 72px;
  padding: 0px;
  width: 38px;
  height: 28px;
  
  font-size: 22px;
}

.sheet-stats textarea {
  position: absolute;
  left: 0px;
  height: 50px;
  width: 260px;
  resize: none;
}

.sheet-roller { position: absolute; }

.sheet-stats .sheet-roller { left: 115px; }

.sheet-strength { top: 6px; }
.sheet-dexterity { top: 113px; }
.sheet-constitution { top: 221px; }
.sheet-intellect { top: 329px; }
.sheet-wisdom { top: 435px; }
.sheet-charisma { top: 541px; }
.sheet-strength-text { top: 36px; }
.sheet-dexterity-text { top: 142px; }
.sheet-constitution-text { top: 251px; }
.sheet-intellect-text { top: 360px; }
.sheet-wisdom-text { top: 465px; }
.sheet-charisma-text { top: 571px; }

/* SECONDARY STATS */
.sheet-secondary {
    position: absolute;
    left: 306px;
    top: 260px;
}
.sheet-secondary input[type=number] {
    position: absolute;
    left: 0;
    width: 30px;
    padding: 1px;
    padding-top: 2px;
}

.sheet-secondary .sheet-roller { left: 0px; }

.sheet-secondary .sheet-AV { top: 0px; }
.sheet-secondary .sheet-AV-roll { top: 30px; }
.sheet-secondary .sheet-ST { top: 90px; }
.sheet-secondary .sheet-ST-roll { top: 120px; }
.sheet-secondary .sheet-AC { top: 180px; }
.sheet-secondary .sheet-HP { top: 243px; }
.sheet-secondary .sheet-HP-max { top: 272px; }
.sheet-secondary .sheet-MV { top: 330px; }
